@import 'index';

$themeColor: #339933;

.loading {
	display: none;
}

select{
	width: 70%;
    font-size: 15px;
    width: 119px;
    text-align: center;
    color: #000;
    padding: 6px;
    font-family: Roboto;
    letter-spacing: 1px;
    border: 1.5px solid #35685e;
    border-radius: 0;
    -webkit-border-radius: 12px;
    background-color: white;
    text-align: center;
}

#notes{
	margin-top: 1rem;
    font-family: "Roboto";
    color: black;
    padding: 10px;
    font-size: 14px;
    background-color: rgba(246, 139, 31, 0.6);
    display: none;
    line-height: 20px;
}

.home {
	text-align: center;
	display: block;
	//height: 100vh;
	border: none;

	img {
		width: 120px;
	}

	div {
		
		&.green i{
			padding: 10px 11px;
			font-size: 25px;
			color: white;
		}

		&.brown i{
			padding: 30px;
			font-size: 50px;
    		color: #FFFF54;
		}

		&.orange i{
	    	padding: 22px;
	    	font-size: 35px;	
		}

		&.a{
		    top: 73px !important;
		    opacity: 0.7;
		    animation: float 30s infinite ease-in-out;
		}

		&.b{
		    top: 475px !important;
		    width: 107px !important;
		    height: 107px !important;
		    left: 23px !important;
		    opacity: 0.6;
		    animation: reversefloat 30s infinite ease-in-out;
		}

		&.c{
		    width: 105px !important;
		    height: 105px !important;
		    top: 327px !important;
		    right: -38px !important;
		    opacity: 0.35;
		    animation: float 30s infinite ease-in-out;
		}

		&.d{
		    width: 100px !important;
		    height: 100px !important;
		    bottom: -15px !important;
			right: -15px !important;
		    opacity: 0.7;
		    animation: reversefloat 30s infinite ease-in-out;
		}

		&.e{
		    width: 82px !important;
		    height: 82px !important;
		    top: 262px !important;
		    left: -7px !important;
		    opacity: 0.6;
		    animation: float 45s infinite ease-in-out;
		}

		&.f{
		    width: 82px !important;
		    height: 82px !important;
		    top: -24px !important;
		    right: 142px !important;
		    opacity: 0.6;
		    animation: reversefloat 45s infinite ease-in-out;
		}

		&.g{
		    width: 82px !important;
		    height: 82px !important;
		    bottom: 178px !important;
		    left: 171px !important;
		    opacity: 0.4;
		    animation: float 45s infinite ease-in-out;
		}

		&.h{
		    width: 82px !important;
		    height: 82px !important;
		    top: 270px !important;
		    right: 13px !important;
		    opacity: 0.8;
		    animation: reversefloat 45s infinite ease-in-out;
		}

		&.i{
		    width: 45px !important;
		    height: 45px !important;
		    bottom: 32px !important;
		    left: -5px !important;
		    opacity: 0.6;
		    animation: float 60s infinite ease-in-out;
		}

		&.j{
		    width: 45px !important;
		    height: 45px !important;
		    bottom: 98px !important;
		    right: 98px !important;
		    opacity: 0.4;
		    animation: reversefloat 60s infinite ease-in-out;
		}	
		
		&.k{
		    width: 45px !important;
		    height: 45px !important;
		    top: 92px !important;
		    right: 39px !important;
		    opacity: 0.3;
		    animation: float 60s infinite ease-in-out;
		}	

		&.l{
		    width: 45px !important;
		    height: 45px !important;
		    top: 328px !important;
		    left: 29px !important;
		    opacity: 0.7;
		    animation: reversefloat 60s infinite ease-in-out;
		}	

		span {			

			&.home-title {
				font-family: "Bubblegum Sans";
				font-size: 60px;
				letter-spacing: 0;
			}

			&.home-orange {
				color: #FCD344;
			}

			&.home-yellow {
				color: #FFFF54;
			}

			&.home-sea {
				color: #AEFFD1;
			}

			&.home-white {
				color: #FFFFFF;
			}

			&.home-purple {
				color: #FFD5FF;
			}

			&.home-green {
				color: #9AFF50;
			}

			&.home-blue{
				color: #91FBFF;
			}
		}
	}
}

.welcome {
	margin: 120px 0 20px;
	text-shadow: 3px 3px 3px grey;
}

.sam-arithmetic {
	margin: 20px 0 0;
	line-height: 55px;
	text-shadow: 3px 3px 3px grey;
}

.startHome {
	margin: 60px auto;
	//animation: wonky 2s infinite, hover 2s infinite;
}

.header {
	display: none;
}

.content {
	overflow: auto;
	display: none;
}

.background {
	display: none;
}

.grid_container{
	& > div{
		&.left{
			display: block;
			text-align: right;
			font-weight: bold;
		}

		&.right {
			justify-content: initial;
		}
	}

	&.custom-grid{
		margin-top: 20px;
		margin-bottom: 15px;
		grid-gap: 20px 30px;
		display: grid;
		grid-template-columns: auto auto;
	}
}

.levelBtn{
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 40px;
	margin: 20px;
	box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.4);
	font-family: Roboto;
	font-style: italic;
	font-weight: normal;
	padding: 12px;
	text-align: center;
	color: white;
	cursor: pointer;

	&.open {
		&:hover, &:active{
			box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
			@include transform(translate(2px, 4px));
		}
	}

	.coming_soon{
		position: absolute;
	    top: 18%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    width: 130px;
	    line-height: 30px;
	    background: rgba(255, 255, 255, 0.8);
	    color: red;
	    font-weight: bold;
	    letter-spacing: 1px;
    	transform: rotate(-30deg) translate(-50%, -50%);
    	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
	}

	.level_number{
		font-family: Roboto;
		font-style: italic;
		font-weight: normal;
		display: inline-block;
		background-color: white;
	    margin: 5px;
	    height: 50px;
	    width: 50px;
	    border: 1px solid black;
	    border-radius: 100%;
	    padding: 10px;
	    font-size: 20px;
	}
}

.custom {
	display: none;
}

.custom_option {
	color: white;
	font-family: "Roboto";
	font-size: 15px;
	letter-spacing: 1px;

	i{
		font-size: 20px;
		position: relative;
		display: inline-block;
		cursor: pointer;
	}
}

/*.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}*/

.fa-question-circle .tooltiptext {
	visibility: hidden;
	width: 50vw;
    background-color: black;
    color: #fff;
    text-align: center;
    font-family: "Roboto";
    font-size: 11px;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    margin-bottom: 5px;
    left: 50%;
    @include transform(translateX(-50%));

	&.show{
		visibility: visible;
	}
}

.fa-question-circle .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.custom_input {
	display: grid;
	grid-template-columns: auto;
    text-align: left;

	button {
		border: 1.5px solid #35685E;
	    background-color: white;
	    padding: 3px;
	    width: 30px;
	    cursor: pointer;
	    font-family: "Roboto";
	    font-size: 18px;
	    letter-spacing: 1px;

		&.btn_left {
			border-right: none;
    		border-radius: 12px 0 0 12px;
		}

		&.btn_right {
			border-left: none;
			border-radius: 0 12px 12px 0;
		}
	}

	&.custom-box {
		display: grid;
	}

	label {
		display: inline-block;
		font-family: "Roboto";
		font-size: 15px;
		letter-spacing: 1px;
	}


}

.custom_value {
	font-size: 15px;
    width: 60px;
    text-align: center;
    color: black;
    padding: 6px;
    font-family: "Roboto";
    letter-spacing: 1px;
    border: 1.5px solid #35685E;
    border-radius: 0;
    -webkit-border-radius: 0;

    &:last-child {
		width: 117px;
	    background: #dbdbdb;
	    border-radius: 12px;
	}
}



.note {
	display: block;
	width: 100%;
	line-height: 30px;
	font-family: "Roboto";
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: red;
	background: rgba(255,255,255, 0.7);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance:textfield;
}

@keyframes float {
  0% {
    transform: translate(0px, 15px)
  }
  25% {
    transform: translate(15px, 0px)
  }
  50% {
    transform: translate(0px, -15px)
  }
  75% {
    transform: translate(-15px, 0px)
  }
  100% {
    transform: translate(0px, 15px)
  }
}

@keyframes reversefloat {
  0% {
    transform: translate(0px, -15px)
  }
  25% {
    transform: translate(-15px, 0px)
  }
  50% {
    transform: translate(0px, 15px)
  }
  75% {
    transform: translate(15px, 0px)
  }
  100% {
    transform: translate(0px, -15px)
  }
}

@keyframes wonky {
  0% {
    transform: rotate(-0.5deg);
  }
  50% {
    transform: rotate(0.5deg);
  }
  100% {
    transform: rotate(-0.5deg);
  }
}

@keyframes hover {
  0% {
    transform: translateY(0px);
  }
  50% {
   	transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}


@keyframes pulse {
	0%   { opacity: 1; }
	100% { opacity: 0; }
}

.ctnr {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255,255,255,0.8);
	z-index: 999;
}

.ldr {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: auto;
	width: 2.5em;
	height: 2.5em;
}

.ldr-blk {
	height: 35%;
	width: 35%;
	animation: pulse 0.75s ease-in infinite alternate;
	background-color: darken($themeColor, 1%);
}

.an_delay {
	animation-delay: 0.75s;
}

//Ipad portrait
@media only screen and (min-width: 768px) and (max-height: 1024px){
	.welcome {
		margin: 230px 0 20px;
	}

	.grid_container {
		margin: 50px 0 30px !important;
	}

	.custom-grid {
		grid-gap: 20px 40px !important;
	}

	.custom_option {
		font-size: 20px;
	}

	.btn_left, .btn_right {
		font-size: 22px !important;
	}

	.custom_value {
	    font-size: 20px !important;
	    width: 90px;

	    &:last-child {
		    width: 165px;
		}
	}

	.btn_left, .btn_right {
		width: 39px !important;
	}

	.inputOne, .inputTwo {
		input {
		    width: 16px;
		    height: 16px;
		}

		label {
			font-size: 20px;
		}
	}

	.note {
	    font-size: 16px;
    	line-height: 42px;	
	}

	.startGame {
	    width: 50%;
		height: 55px;
		font-size: 26px;	
	}

	.startHome {
		width: 36%;
		height: 55px;
		font-size: 26px;
	}

	
}

//Ipad landscape
@media only screen and (min-width: 1024px) and (max-height: 768px){
	.welcome {
		margin: 130px 0 20px !important;
	}

	.grid_container {
		margin: 50px 0 50px !important;
	}

	.custom-grid {
		grid-gap: 20px 40px !important;
	}

	.custom_option {
		font-size: 20px !important;
	}

	.btn_left, .btn_right {
		font-size: 22px !important;
	}

	.custom_value {
	    font-size: 20px !important;
	    width: 90px !important;

	    &:last-child {
		    width: 165px !important;
		}
	}

	.btn_left, .btn_right {
		width: 39px !important;
	}

	.inputOne, .inputTwo {
		input {
		    width: 16px !important;
		    height: 16px !important;
		}

		label {
			font-size: 20px !important;
		}
	}

	.note {
	    font-size: 16px !important;
    	line-height: 42px !important;	
	}

	.startGame {
	    width: 50% !important;
		height: 55px !important;
		font-size: 26px !important;	
	}

	.startHome {
		width: 36% !important;
		height: 55px !important;
		font-size: 26px !important;
	}
}

//Ipad-pro portrait
@media only screen and (min-width: 1024px) and (max-height: 1366px){
	.welcome {
		margin: 400px 0 20px;
	}

	.content {

		h2 {
			margin-top: 50px;
		}
	}

	.grid_container {
		margin: 50px 0 30px !important;
	}

	.custom-grid {
		grid-gap: 20px 40px !important;
	}

	.custom_option {
		font-size: 20px !important;
	}

	.btn_left, .btn_right {
		font-size: 22px !important;
	}

	.custom_value {
	    font-size: 20px !important;
	    width: 90px;

	    &:last-child {
		    width: 165px;
		}
	}

	.btn_left, .btn_right {
		width: 39px !important;
	}

	.inputOne, .inputTwo {
		input {
		    width: 16px;
		    height: 16px;
		}

		label {
			font-size: 20px;
		}
	}

	.note {
	    font-size: 16px;
    	line-height: 42px;	
	}

	.startGame {
	    width: 50%;
		height: 55px;
		font-size: 26px;	
	}

	.startHome {
		width: 36%;
		height: 55px;
		font-size: 26px;
	}
}

//Ipad-pro landscape
@media only screen and (min-width: 1366px) and (max-height: 1024px){
	.welcome {
		margin: 230px 0 20px;
	}

	.grid_container {
		margin: 50px 0 50px;
	}

	.custom-grid {
		grid-gap: 20px 40px !important;
	}

	.custom_option {
		font-size: 20px !important;
	}

	.btn_left, .btn_right {
		font-size: 22px !important;
	}

	.custom_value {
	    font-size: 20px !important;
	    width: 90px !important;

	    &:last-child {
		    width: 165px !important;
		}
	}

	.btn_left, .btn_right {
		width: 39px !important;
	}

	.inputOne, .inputTwo {
		input {
		    width: 16px !important;
		    height: 16px !important;
		}

		label {
			font-size: 20px !important;
		}
	}

	.note {
	    font-size: 16px;
    	line-height: 42px;	
	}

	.startGame {
	    width: 50%;
		height: 55px;
		font-size: 26px;	
	}

	.startHome {
		width: 36%;
		height: 55px;
		font-size: 26px;
	}
}
