* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Goudy Bookletter 1911";
  letter-spacing: 3px; }

body {
  background-color: #8DC63F; }

.container {
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  left: 0;
  background-color: #8DC63F; }

.header {
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 100;
  background-color: white;
  border: 2px solid #FFCB05; }
  .header img {
    width: 60px;
    margin: 15px auto;
    display: block; }
  .header #toggleBack {
    display: block;
    position: absolute;
    left: 25px;
    top: 38px;
    font-size: 25px;
    cursor: pointer; }
  .header #toggleVolume {
    display: block;
    visibility: hidden;
    position: absolute;
    right: 25px;
    top: 38px;
    font-size: 25px;
    cursor: pointer; }

.content, .home {
  position: relative;
  text-align: center;
  overflow-x: hidden;
  border-top: none; }
  .content div.circle, .home div.circle {
    position: fixed;
    z-index: -10;
    border-radius: 50%; }
    .content div.circle.a, .home div.circle.a {
      width: 105px;
      height: 105px;
      top: 60px;
      left: -28px; }
    .content div.circle.b, .home div.circle.b {
      top: 345px;
      width: 148px;
      height: 148px;
      left: -82px; }
    .content div.circle.c, .home div.circle.c {
      width: 55px;
      height: 55px;
      top: 333px;
      right: 42px; }
    .content div.circle.d, .home div.circle.d {
      width: 45px;
      height: 45px;
      bottom: 120px;
      right: 89px; }
    .content div.circle.e, .home div.circle.e {
      width: 50px;
      height: 50px;
      top: 225px;
      left: 38px; }
    .content div.circle.f, .home div.circle.f {
      width: 100px;
      height: 100px;
      top: 113px;
      right: -1px; }
    .content div.circle.g, .home div.circle.g {
      width: 100px;
      height: 100px;
      bottom: 109px;
      left: 51px; }
    .content div.circle.h, .home div.circle.h {
      width: 105px;
      height: 105px;
      bottom: 185px;
      right: -29px; }
    .content div.circle.i, .home div.circle.i {
      width: 50px;
      height: 50px;
      bottom: -18px;
      left: 3px; }
    .content div.circle.j, .home div.circle.j {
      width: 110px;
      height: 110px;
      bottom: -51px;
      right: 19px; }
    .content div.circle.green, .home div.circle.green {
      background-color: #00B698; }
    .content div.circle.yellow, .home div.circle.yellow {
      background-color: #FFCB05; }
    .content div.circle.brown, .home div.circle.brown {
      background-color: #840409; }
    .content div.circle.orange, .home div.circle.orange {
      background-color: #F68B1F; }
  .content h2, .home h2 {
    color: white;
    font-weight: 100;
    font-size: 32px;
    margin-top: 25px;
    text-shadow: 3px 3px 3px grey;
    margin-bottom: 20px; }

.grid_container {
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 30px; }
  .grid_container > div {
    display: flex;
    justify-content: center; }

.startHome, .startGame, .playAgain {
  display: block;
  width: 50%;
  height: 45px;
  margin: 35px auto;
  border-radius: 25px;
  background: #1E1E85;
  border: none;
  font-size: 20px;
  text-align: center;
  color: white;
  cursor: pointer; }

.playAgain {
  width: 85%; }

.blocker {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  z-index: 1000; }
  .blocker .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .blocker .rotate {
    width: 45px;
    height: 45px;
    vertical-align: middle;
    animation: rotation 8s infinite linear; }
  .blocker .rotate_reminder {
    font-size: 16px;
    padding-left: 5px; }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
@media only screen and (min-width: 567px) and (max-height: 414px) {
  .container {
    height: 100vh;
    overflow: hidden; }

  .blocker {
    display: block; }

  .content {
    display: none; } }
* {
  padding: 0;
  margin: 0;
  font-family: "Goudy Bookletter 1911";
  outline: none; }

.loading {
  position: fixed;
  background-color: #EEF3F5;
  width: 100%;
  height: 100vh;
  text-align: center;
  z-index: 1000; }

.loading-logo {
  display: block;
  width: 150px;
  margin: 50% auto 20px;
  vertical-align: middle; }

.loading-title {
  padding: 10px 0 3px; }

.loading-title, .dots {
  color: #0D7BDC;
  display: block;
  font-size: 20px; }

.dots {
  letter-spacing: 4px; }

.dot-animate {
  animation: bounce 0.3s;
  animation-direction: alternate;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
  display: inline-block; }

@keyframes bounce {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-10px); } }
@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
.loading {
  display: none; }

select {
  width: 70%;
  font-size: 15px;
  width: 119px;
  text-align: center;
  color: #000;
  padding: 6px;
  font-family: Roboto;
  letter-spacing: 1px;
  border: 1.5px solid #35685e;
  border-radius: 0;
  -webkit-border-radius: 12px;
  background-color: white;
  text-align: center; }

#notes {
  margin-top: 1rem;
  font-family: "Roboto";
  color: black;
  padding: 10px;
  font-size: 14px;
  background-color: rgba(246, 139, 31, 0.6);
  display: none;
  line-height: 20px; }

.home {
  text-align: center;
  display: block;
  border: none; }
  .home img {
    width: 120px; }
  .home div.green i {
    padding: 10px 11px;
    font-size: 25px;
    color: white; }
  .home div.brown i {
    padding: 30px;
    font-size: 50px;
    color: #FFFF54; }
  .home div.orange i {
    padding: 22px;
    font-size: 35px; }
  .home div.a {
    top: 73px !important;
    opacity: 0.7;
    animation: float 30s infinite ease-in-out; }
  .home div.b {
    top: 475px !important;
    width: 107px !important;
    height: 107px !important;
    left: 23px !important;
    opacity: 0.6;
    animation: reversefloat 30s infinite ease-in-out; }
  .home div.c {
    width: 105px !important;
    height: 105px !important;
    top: 327px !important;
    right: -38px !important;
    opacity: 0.35;
    animation: float 30s infinite ease-in-out; }
  .home div.d {
    width: 100px !important;
    height: 100px !important;
    bottom: -15px !important;
    right: -15px !important;
    opacity: 0.7;
    animation: reversefloat 30s infinite ease-in-out; }
  .home div.e {
    width: 82px !important;
    height: 82px !important;
    top: 262px !important;
    left: -7px !important;
    opacity: 0.6;
    animation: float 45s infinite ease-in-out; }
  .home div.f {
    width: 82px !important;
    height: 82px !important;
    top: -24px !important;
    right: 142px !important;
    opacity: 0.6;
    animation: reversefloat 45s infinite ease-in-out; }
  .home div.g {
    width: 82px !important;
    height: 82px !important;
    bottom: 178px !important;
    left: 171px !important;
    opacity: 0.4;
    animation: float 45s infinite ease-in-out; }
  .home div.h {
    width: 82px !important;
    height: 82px !important;
    top: 270px !important;
    right: 13px !important;
    opacity: 0.8;
    animation: reversefloat 45s infinite ease-in-out; }
  .home div.i {
    width: 45px !important;
    height: 45px !important;
    bottom: 32px !important;
    left: -5px !important;
    opacity: 0.6;
    animation: float 60s infinite ease-in-out; }
  .home div.j {
    width: 45px !important;
    height: 45px !important;
    bottom: 98px !important;
    right: 98px !important;
    opacity: 0.4;
    animation: reversefloat 60s infinite ease-in-out; }
  .home div.k {
    width: 45px !important;
    height: 45px !important;
    top: 92px !important;
    right: 39px !important;
    opacity: 0.3;
    animation: float 60s infinite ease-in-out; }
  .home div.l {
    width: 45px !important;
    height: 45px !important;
    top: 328px !important;
    left: 29px !important;
    opacity: 0.7;
    animation: reversefloat 60s infinite ease-in-out; }
  .home div span.home-title {
    font-family: "Bubblegum Sans";
    font-size: 60px;
    letter-spacing: 0; }
  .home div span.home-orange {
    color: #FCD344; }
  .home div span.home-yellow {
    color: #FFFF54; }
  .home div span.home-sea {
    color: #AEFFD1; }
  .home div span.home-white {
    color: #FFFFFF; }
  .home div span.home-purple {
    color: #FFD5FF; }
  .home div span.home-green {
    color: #9AFF50; }
  .home div span.home-blue {
    color: #91FBFF; }

.welcome {
  margin: 120px 0 20px;
  text-shadow: 3px 3px 3px grey; }

.sam-arithmetic {
  margin: 20px 0 0;
  line-height: 55px;
  text-shadow: 3px 3px 3px grey; }

.startHome {
  margin: 60px auto; }

.header {
  display: none; }

.content {
  overflow: auto;
  display: none; }

.background {
  display: none; }

.grid_container > div.left {
  display: block;
  text-align: right;
  font-weight: bold; }
.grid_container > div.right {
  justify-content: initial; }
.grid_container.custom-grid {
  margin-top: 20px;
  margin-bottom: 15px;
  grid-gap: 20px 30px;
  display: grid;
  grid-template-columns: auto auto; }

.levelBtn {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 40px;
  margin: 20px;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.4);
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  padding: 12px;
  text-align: center;
  color: white;
  cursor: pointer; }
  .levelBtn.open:hover, .levelBtn.open:active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    -webkit-transform: translate(2px, 4px);
    -moz-transform: translate(2px, 4px);
    -ms-transform: translate(2px, 4px);
    -o-transform: translate(2px, 4px);
    transform: translate(2px, 4px); }
  .levelBtn .coming_soon {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
    line-height: 30px;
    background: rgba(255, 255, 255, 0.8);
    color: red;
    font-weight: bold;
    letter-spacing: 1px;
    transform: rotate(-30deg) translate(-50%, -50%);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3); }
  .levelBtn .level_number {
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    display: inline-block;
    background-color: white;
    margin: 5px;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 100%;
    padding: 10px;
    font-size: 20px; }

.custom {
  display: none; }

.custom_option {
  color: white;
  font-family: "Roboto";
  font-size: 15px;
  letter-spacing: 1px; }
  .custom_option i {
    font-size: 20px;
    position: relative;
    display: inline-block;
    cursor: pointer; }

/*.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}*/
.fa-question-circle .tooltiptext {
  visibility: hidden;
  width: 50vw;
  background-color: black;
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 11px;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  margin-bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }
  .fa-question-circle .tooltiptext.show {
    visibility: visible; }

.fa-question-circle .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent; }

.custom_input {
  display: grid;
  grid-template-columns: auto;
  text-align: left; }
  .custom_input button {
    border: 1.5px solid #35685E;
    background-color: white;
    padding: 3px;
    width: 30px;
    cursor: pointer;
    font-family: "Roboto";
    font-size: 18px;
    letter-spacing: 1px; }
    .custom_input button.btn_left {
      border-right: none;
      border-radius: 12px 0 0 12px; }
    .custom_input button.btn_right {
      border-left: none;
      border-radius: 0 12px 12px 0; }
  .custom_input.custom-box {
    display: grid; }
  .custom_input label {
    display: inline-block;
    font-family: "Roboto";
    font-size: 15px;
    letter-spacing: 1px; }

.custom_value {
  font-size: 15px;
  width: 60px;
  text-align: center;
  color: black;
  padding: 6px;
  font-family: "Roboto";
  letter-spacing: 1px;
  border: 1.5px solid #35685E;
  border-radius: 0;
  -webkit-border-radius: 0; }
  .custom_value:last-child {
    width: 117px;
    background: #dbdbdb;
    border-radius: 12px; }

.note {
  display: block;
  width: 100%;
  line-height: 30px;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: red;
  background: rgba(255, 255, 255, 0.7); }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

@keyframes float {
  0% {
    transform: translate(0px, 15px); }
  25% {
    transform: translate(15px, 0px); }
  50% {
    transform: translate(0px, -15px); }
  75% {
    transform: translate(-15px, 0px); }
  100% {
    transform: translate(0px, 15px); } }
@keyframes reversefloat {
  0% {
    transform: translate(0px, -15px); }
  25% {
    transform: translate(-15px, 0px); }
  50% {
    transform: translate(0px, 15px); }
  75% {
    transform: translate(15px, 0px); }
  100% {
    transform: translate(0px, -15px); } }
@keyframes wonky {
  0% {
    transform: rotate(-0.5deg); }
  50% {
    transform: rotate(0.5deg); }
  100% {
    transform: rotate(-0.5deg); } }
@keyframes hover {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0px); } }
@keyframes pulse {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.ctnr {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 999; }

.ldr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 2.5em;
  height: 2.5em; }

.ldr-blk {
  height: 35%;
  width: 35%;
  animation: pulse 0.75s ease-in infinite alternate;
  background-color: #329532; }

.an_delay {
  animation-delay: 0.75s; }

@media only screen and (min-width: 768px) and (max-height: 1024px) {
  .welcome {
    margin: 230px 0 20px; }

  .grid_container {
    margin: 50px 0 30px !important; }

  .custom-grid {
    grid-gap: 20px 40px !important; }

  .custom_option {
    font-size: 20px; }

  .btn_left, .btn_right {
    font-size: 22px !important; }

  .custom_value {
    font-size: 20px !important;
    width: 90px; }
    .custom_value:last-child {
      width: 165px; }

  .btn_left, .btn_right {
    width: 39px !important; }

  .inputOne input, .inputTwo input {
    width: 16px;
    height: 16px; }
  .inputOne label, .inputTwo label {
    font-size: 20px; }

  .note {
    font-size: 16px;
    line-height: 42px; }

  .startGame {
    width: 50%;
    height: 55px;
    font-size: 26px; }

  .startHome {
    width: 36%;
    height: 55px;
    font-size: 26px; } }
@media only screen and (min-width: 1024px) and (max-height: 768px) {
  .welcome {
    margin: 130px 0 20px !important; }

  .grid_container {
    margin: 50px 0 50px !important; }

  .custom-grid {
    grid-gap: 20px 40px !important; }

  .custom_option {
    font-size: 20px !important; }

  .btn_left, .btn_right {
    font-size: 22px !important; }

  .custom_value {
    font-size: 20px !important;
    width: 90px !important; }
    .custom_value:last-child {
      width: 165px !important; }

  .btn_left, .btn_right {
    width: 39px !important; }

  .inputOne input, .inputTwo input {
    width: 16px !important;
    height: 16px !important; }
  .inputOne label, .inputTwo label {
    font-size: 20px !important; }

  .note {
    font-size: 16px !important;
    line-height: 42px !important; }

  .startGame {
    width: 50% !important;
    height: 55px !important;
    font-size: 26px !important; }

  .startHome {
    width: 36% !important;
    height: 55px !important;
    font-size: 26px !important; } }
@media only screen and (min-width: 1024px) and (max-height: 1366px) {
  .welcome {
    margin: 400px 0 20px; }

  .content h2 {
    margin-top: 50px; }

  .grid_container {
    margin: 50px 0 30px !important; }

  .custom-grid {
    grid-gap: 20px 40px !important; }

  .custom_option {
    font-size: 20px !important; }

  .btn_left, .btn_right {
    font-size: 22px !important; }

  .custom_value {
    font-size: 20px !important;
    width: 90px; }
    .custom_value:last-child {
      width: 165px; }

  .btn_left, .btn_right {
    width: 39px !important; }

  .inputOne input, .inputTwo input {
    width: 16px;
    height: 16px; }
  .inputOne label, .inputTwo label {
    font-size: 20px; }

  .note {
    font-size: 16px;
    line-height: 42px; }

  .startGame {
    width: 50%;
    height: 55px;
    font-size: 26px; }

  .startHome {
    width: 36%;
    height: 55px;
    font-size: 26px; } }
@media only screen and (min-width: 1366px) and (max-height: 1024px) {
  .welcome {
    margin: 230px 0 20px; }

  .grid_container {
    margin: 50px 0 50px; }

  .custom-grid {
    grid-gap: 20px 40px !important; }

  .custom_option {
    font-size: 20px !important; }

  .btn_left, .btn_right {
    font-size: 22px !important; }

  .custom_value {
    font-size: 20px !important;
    width: 90px !important; }
    .custom_value:last-child {
      width: 165px !important; }

  .btn_left, .btn_right {
    width: 39px !important; }

  .inputOne input, .inputTwo input {
    width: 16px !important;
    height: 16px !important; }
  .inputOne label, .inputTwo label {
    font-size: 20px !important; }

  .note {
    font-size: 16px;
    line-height: 42px; }

  .startGame {
    width: 50%;
    height: 55px;
    font-size: 26px; }

  .startHome {
    width: 36%;
    height: 55px;
    font-size: 26px; } }

/*# sourceMappingURL=choose.css.map */
