*{
	margin: 0;
	padding: 0;
	@include box-sizing(border-box);
	font-family: "Goudy Bookletter 1911";
	letter-spacing: 3px;
}

body{
	background-color: #8DC63F;
}

.container{
	width: 100%;
	//height: 100%;
	position: absolute;
	z-index: 0;
	//height: 100vh;
	top: 0;
	right: 0;
	left: 0;
	background-color: #8DC63F;
	//overflow-y: hidden;
}

.header{
	width: 100%;
    top: 0;
    position: sticky;
    z-index: 100;
    background-color: white;
    border: 2px solid #FFCB05;

    img{
    	width: 60px;
    	margin: 15px auto;
    	display: block;
    }

    #toggleBack{
    	display: block;
	    position: absolute;
	    left: 25px;
	    top: 38px;
	    font-size: 25px;
	    cursor: pointer;
    }

    #toggleVolume{
    	display: block;
    	visibility: hidden;
	    position: absolute;
	    right: 25px;
	    top: 38px;
	    font-size: 25px;
	    cursor: pointer;
    }
}

.content, .home{
	position: relative;
	//height: 88vh;
	text-align: center;
	overflow-x: hidden;
	//border: 2px solid #FFCB05;
	border-top: none;

	div{
		&.circle{
			position: fixed;
			z-index: -10;
			border-radius: 50%;

			&.a{
			    width: 105px;
			    height: 105px;
			    top: 60px;
    			left: -28px;	
			}

			&.b{
			    top: 345px;
			    width: 148px;
			    height: 148px;
			    left: -82px;
			}

			&.c{
			    width: 55px;
			    height: 55px;
			    top: 333px;
			    right: 42px;
			}

			&.d{
			    width: 45px;
			    height: 45px;
			    bottom: 120px;
			    right: 89px;
			}

			&.e{
			    width: 50px;
			    height: 50px;
			    top: 225px;
			    left: 38px;
			}

			&.f{
			    width: 100px;
			    height: 100px;
			    top: 113px;
			    right: -1px;
			}

			&.g{
			    width: 100px;
			    height: 100px;
			    bottom: 109px;
			    left: 51px;
			}

			&.h{
			    width: 105px;
			    height: 105px;
			    bottom: 185px;
			    right: -29px;
			}

			&.i{
			    width: 50px;
			    height: 50px;
			    bottom: -18px;
			    left: 3px;
			}

			&.j{
			    width: 110px;
			    height: 110px;
			    bottom: -51px;
			    right: 19px;
			}


			&.green{
				background-color: #00B698;
			}

			&.yellow{
				background-color: #FFCB05;
			}

			&.brown{
				background-color: #840409;
			}

			&.orange{
				background-color: #F68B1F;
			}


		}
		
	}

	h2{
		color: white;
		font-weight: 100;
		font-size: 32px;
		margin-top: 25px;
		text-shadow: 3px 3px 3px grey;
		margin-bottom: 20px;
	}
}

.grid_container{
	display: grid;
	grid-template-columns: auto;
	margin-bottom: 30px;

	& > div{
		display: flex;
		justify-content: center;
	}
}


.startHome, .startGame, .playAgain {
	display: block;
    width: 50%;
    height: 45px;
    margin: 35px auto;
    border-radius: 25px;
    background: #1E1E85;
    border: none;
    font-size: 20px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.playAgain {
	width: 85%;
}

.blocker{
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	background-color: white;
	text-align: center;
	z-index: 1000;

	.helper {
	    display: inline-block;
	    height: 100%;
	    vertical-align: middle;
	}

	.rotate {
		width: 45px;
		height: 45px;
		vertical-align: middle;
		animation: rotation 8s infinite linear;
	}

	.rotate_reminder {
		font-size: 16px;
    	padding-left: 5px;
	}
}

@keyframes rotation {
	from {
	    transform: rotate(0deg);
	  }
	to {
	    transform: rotate(359deg);
	}
}


@media only screen and (min-width: 567px) and (max-height: 414px){
	.container {
		height: 100vh;
		overflow: hidden;
	}
	.blocker {
		display: block;
	}
	.content {
		display: none;
	}
}