* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Goudy Bookletter 1911";
  letter-spacing: 3px; }

.container {
  width: 100%;
  position: absolute;
  z-index: 0;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  background-color: #8DC63F;
  overflow-y: hidden; }

.header {
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 100;
  background-color: white;
  border: 2px solid #FFCB05; }
  .header img {
    width: 60px;
    margin: 15px auto;
    display: block; }
  .header i {
    display: block;
    position: absolute;
    right: 20px;
    top: 38px;
    font-size: 25px; }

.content, .home {
  position: relative;
  height: 88vh;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
  border: 2px solid #FFCB05;
  border-top: none; }
  .content div.circle, .home div.circle {
    position: fixed;
    z-index: -10;
    border-radius: 50%; }
    .content div.circle.a, .home div.circle.a {
      width: 105px;
      height: 105px;
      top: 60px;
      left: -28px; }
    .content div.circle.b, .home div.circle.b {
      top: 345px;
      width: 148px;
      height: 148px;
      left: -82px; }
    .content div.circle.c, .home div.circle.c {
      width: 55px;
      height: 55px;
      top: 333px;
      right: 42px; }
    .content div.circle.d, .home div.circle.d {
      width: 45px;
      height: 45px;
      bottom: 120px;
      right: 89px; }
    .content div.circle.e, .home div.circle.e {
      width: 50px;
      height: 50px;
      top: 225px;
      left: 38px; }
    .content div.circle.f, .home div.circle.f {
      width: 100px;
      height: 100px;
      top: 113px;
      right: -1px; }
    .content div.circle.g, .home div.circle.g {
      width: 100px;
      height: 100px;
      bottom: 109px;
      left: 51px; }
    .content div.circle.h, .home div.circle.h {
      width: 105px;
      height: 105px;
      bottom: 185px;
      right: -29px; }
    .content div.circle.i, .home div.circle.i {
      width: 50px;
      height: 50px;
      bottom: -18px;
      left: 3px; }
    .content div.circle.j, .home div.circle.j {
      width: 110px;
      height: 110px;
      bottom: -51px;
      right: 19px; }
    .content div.circle.green, .home div.circle.green {
      background-color: #00B698; }
    .content div.circle.yellow, .home div.circle.yellow {
      background-color: #FFCB05; }
    .content div.circle.brown, .home div.circle.brown {
      background-color: #840409; }
    .content div.circle.orange, .home div.circle.orange {
      background-color: #F68B1F; }
  .content h2, .home h2 {
    color: white;
    font-weight: 100;
    font-size: 32px;
    margin-top: 25px;
    text-shadow: 3px 3px 3px grey;
    margin-bottom: 20px; }

.grid_container {
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 30px; }
  .grid_container > div {
    display: flex;
    justify-content: center; }

.startHome, .startGame, .playAgain {
  display: block;
  width: 50%;
  height: 45px;
  margin: 35px auto 0;
  border-radius: 25px;
  background: #1E1E85;
  border: none;
  font-size: 20px;
  text-align: center;
  color: white; }

.playAgain {
  width: 80%; }

.blocker {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  z-index: 1000; }
  .blocker .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .blocker .rotate {
    width: 45px;
    height: 45px;
    vertical-align: middle;
    animation: rotation 8s infinite linear; }
  .blocker .rotate_reminder {
    font-size: 16px;
    padding-left: 5px; }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
@media only screen and (min-width: 567px) and (max-height: 414px) {
  .blocker {
    display: block; } }
* {
  padding: 0;
  margin: 0;
  font-family: "Goudy Bookletter 1911";
  outline: none; }

.loading {
  position: fixed;
  background-color: #EEF3F5;
  width: 100%;
  height: 100vh;
  text-align: center;
  z-index: 1000; }

.loading-logo {
  display: block;
  width: 150px;
  margin: 50% auto 20px;
  vertical-align: middle; }

.loading-title {
  padding: 10px 0 3px; }

.loading-title, .dots {
  color: #0D7BDC;
  display: block;
  font-size: 20px; }

.dots {
  letter-spacing: 4px; }

.dot-animate {
  animation: bounce 0.3s;
  animation-direction: alternate;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
  display: inline-block; }

@keyframes bounce {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-10px); } }
@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

/*# sourceMappingURL=index.css.map */
