@import 'root';
@import 'general';

$defaultBackgroundColor: #EEF3F5;
$defaultFontColor: #0D7BDC;
$defaultFont: "Goudy Bookletter 1911";

* {
	padding: 0;
	margin: 0;
	font-family: $defaultFont;
	outline: none;
}

html, body {
	
}

.loading {
	position: fixed;
	background-color: $defaultBackgroundColor;
	width: 100%;
	height: 100vh;
	text-align: center;
	z-index: 1000;
}

.loading-logo {
	display: block;
    width: 150px;
    margin: 50% auto 20px;
    vertical-align: middle;
    //animation: rotation 8s infinite linear;
}

.loading-title {
	padding: 10px 0 3px;
}

.loading-title, .dots {
	color: $defaultFontColor;
	display: block;
	font-size: 20px;
}

.dots {
	letter-spacing: 4px;
}

.dot-animate{
	animation: bounce 0.3s;
 	animation-direction: alternate;
  	animation-iteration-count: 2;
  	animation-timing-function: ease-in-out;
  	display: inline-block;
}


@keyframes bounce { 
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

@keyframes rotation {
	from {
	    transform: rotate(0deg);
	  }
	to {
	    transform: rotate(359deg);
	}
}