* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Goudy Bookletter 1911";
  letter-spacing: 3px; }

.container {
  width: 100%;
  position: absolute;
  z-index: 0;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  background-color: #8DC63F;
  overflow-y: hidden; }

.header {
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 100;
  background-color: white;
  border: 2px solid #FFCB05; }
  .header img {
    width: 60px;
    margin: 15px auto;
    display: block; }
  .header i {
    display: block;
    position: absolute;
    right: 20px;
    top: 38px;
    font-size: 25px; }

.content {
  position: relative;
  height: 88vh;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
  border: 2px solid #FFCB05;
  border-top: none; }
  .content div.circle {
    position: fixed;
    z-index: -10;
    border-radius: 50%; }
    .content div.circle.a {
      width: 105px;
      height: 105px;
      top: 60px;
      left: -28px; }
    .content div.circle.b {
      top: 345px;
      width: 148px;
      height: 148px;
      left: -82px; }
    .content div.circle.c {
      width: 55px;
      height: 55px;
      top: 333px;
      right: 42px; }
    .content div.circle.d {
      width: 45px;
      height: 45px;
      bottom: 120px;
      right: 89px; }
    .content div.circle.e {
      width: 50px;
      height: 50px;
      top: 225px;
      left: 38px; }
    .content div.circle.f {
      width: 100px;
      height: 100px;
      top: 113px;
      right: -1px; }
    .content div.circle.g {
      width: 100px;
      height: 100px;
      bottom: 109px;
      left: 51px; }
    .content div.circle.h {
      width: 105px;
      height: 105px;
      bottom: 185px;
      right: -29px; }
    .content div.circle.i {
      width: 50px;
      height: 50px;
      bottom: -18px;
      left: 3px; }
    .content div.circle.j {
      width: 110px;
      height: 110px;
      bottom: -51px;
      right: 19px; }
    .content div.circle.green {
      background-color: #00B698; }
    .content div.circle.yellow {
      background-color: #FFCB05; }
    .content div.circle.brown {
      background-color: #840409; }
    .content div.circle.orange {
      background-color: #F68B1F; }
  .content h2 {
    color: white;
    font-weight: 100;
    font-size: 32px;
    margin-top: 25px;
    text-shadow: 3px 3px 3px grey;
    margin-bottom: 20px; }

.grid_container {
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 30px; }
  .grid_container > div {
    display: flex;
    justify-content: center; }

.startGame {
  display: block;
  width: 80%;
  height: 45px;
  margin: 35px auto 0;
  border-radius: 25px;
  background: #1E1E85;
  border: none;
  font-size: 20px;
  text-align: center;
  color: white; }

* {
  padding: 0;
  margin: 0;
  font-family: "Goudy Bookletter 1911";
  outline: none; }

.loading {
  position: fixed;
  background-color: #EEF3F5;
  width: 100%;
  height: 100vh;
  text-align: center;
  z-index: 1000; }

.logo {
  display: block;
  width: 150px;
  margin: 50% auto 20px;
  vertical-align: middle;
  animation: rotation 8s infinite linear; }

.loading-title {
  padding: 10px 0 3px; }

.loading-title, .dots {
  color: #0D7BDC;
  display: block;
  font-size: 20px; }

.dots {
  letter-spacing: 4px; }

.dot-animate {
  animation: bounce 0.3s;
  animation-direction: alternate;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
  display: inline-block; }

@keyframes bounce {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-10px); } }
@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
* {
  padding: 0;
  margin: 0;
  outline: none; }

.html5-progress-bar {
  width: 100%;
  margin: 0;
  padding: 10px 15px 5px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2); }

.html5-progress-bar progress {
  background-color: #f3f3f3;
  border: 0;
  width: 80%;
  height: 15px;
  border-radius: 9px;
  vertical-align: top; }

.html5-progress-bar progress::-webkit-progress-bar {
  background-color: #f3f3f3;
  border-radius: 9px; }

.html5-progress-bar progress::-webkit-progress-value {
  border-radius: 9px; }

.html5-progress-bar .progress-value {
  line-height: 17px;
  font-size: 0.8em;
  font-family: arial;
  color: #555;
  float: right;
  padding-right: 3px;
  vertical-align: top; }

.html5-progress-bar progress .orange {
  background-color: orange; }

progress.orange[value] {
  color: orange; }

progress.orange::-webkit-progress-bar-value {
  background-color: orange; }

progress.orange::-webkit-progress-value {
  background-color: orange; }

progress.orange::-moz-progress-bar {
  background-color: orange; }

.html5-progress-bar progress .red {
  background-color: red; }

progress.red[value] {
  color: red; }

progress.red::-webkit-progress-bar-value {
  background-color: red; }

progress.red::-webkit-progress-value {
  background-color: red; }

progress.red::-moz-progress-bar {
  background-color: red; }

.ques-ans {
  width: 100%;
  height: 100%; }
  .ques-ans h2 {
    display: block;
    font-size: 22px;
    margin-top: 0;
    padding-top: 25px; }

.start-button {
  display: block;
  width: 53%;
  margin: 44% auto;
  font-size: 54px;
  text-align: center;
  font-weight: bold;
  color: white;
  font-weight: 900;
  letter-spacing: 3px; }

.fade-in {
  animation: fadeIn ease-in-out 1s;
  -webkit-animation: fadeIn ease-in-out 1s;
  -moz-animation: fadeIn ease-in-out 1s;
  -o-animation: fadeIn ease-in-out 1s;
  -ms-animation: fadeIn ease-in-out 1s; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.number {
  width: 100%;
  display: none;
  text-align: center;
  margin-top: 35%;
  color: white;
  font-family: Arial;
  font-size: 100px;
  font-weight: 900;
  letter-spacing: 3px; }

.answer-title {
  display: none;
  margin-top: 32%;
  color: white;
  font-weight: 100;
  font-size: 22px;
  text-shadow: 3px 3px 3px grey; }

.answer {
  display: none;
  width: 80%;
  height: 72px;
  padding: 15px;
  margin: 20px auto 0;
  font-size: 32px;
  text-align: center;
  font-family: Arial;
  border: 2px solid #35685E;
  border-radius: 25px; }

.score {
  display: none;
  width: 100%;
  height: 100%;
  margin-bottom: 100px; }
  .score h2 {
    display: block;
    font-size: 22px;
    margin: 0;
    padding-top: 25px; }

.percentage {
  display: block;
  font-family: Arial;
  font-weight: 900;
  font-size: 100px;
  line-height: 110px;
  text-align: center;
  color: white; }

.scale {
  font-size: 22px;
  color: white;
  text-align: center;
  font-family: Arial;
  letter-spacing: 5px; }

.result {
  height: 280px;
  margin: 25px 0 0;
  overflow: auto; }

.right-answer {
  font-family: Arial;
  font-weight: 900;
  float: right;
  font-size: 32px;
  line-height: 25px;
  vertical-align: middle; }

.answer-box {
  display: block;
  width: 80%;
  border-bottom: 1px solid #bdbdbd;
  text-align: left;
  margin: 0 auto;
  padding: 15px;
  background: rgba(255, 255, 255, 0.8); }
  .answer-box > i {
    font-size: 20px;
    font-size: 25px;
    vertical-align: middle; }
  .answer-box.correct {
    border-left: 4px solid #2ED573; }
    .answer-box.correct .right-answer, .answer-box.correct > i {
      color: #2ED573; }
  .answer-box.wrong {
    border-left: 4px solid #FF3838; }
    .answer-box.wrong .right-answer {
      color: #FF3838; }
    .answer-box.wrong > i {
      color: #FF3838;
      padding-right: 7.5px; }

.question-number {
  font-family: Arial;
  font-size: 18px;
  padding-left: 10px;
  vertical-align: middle; }

/*# sourceMappingURL=question_v1.0.css.map */
