@import 'index';

$themeColor: #339933;
$wrongColor: #FF3838;
$correctColor: #2ED573;
$primaryFont: Goudy Bookletter 1911;
$secondaryFont: Roboto;
$thirdFont: Arial;

* {
	padding: 0;
	margin: 0;
	outline: none;
}

.html5-progress-bar {
	position: sticky;
	z-index: 100;
	top: 93px;
	width: 100%;
	margin: 0;
	padding: 10px 15px 5px;
	background-color: #fff;
	box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .2);
}

.html5-progress-bar progress {
	background-color: #f3f3f3;
	border: 0;
	width: 80%;
	height: 15px;
    border-radius: 9px;
    vertical-align: top;
}

.html5-progress-bar progress::-webkit-progress-bar {
	background-color: #f3f3f3;
	border-radius: 9px;
}

.html5-progress-bar progress::-webkit-progress-value {
	border-radius: 9px;
}

.html5-progress-bar .progress-value {
	width: 20%;
	text-align: right;
	line-height: 17px;
	font-size: 0.8em;
	font-family: arial; 
	color: #555;
	float: right;
	padding-right: 3px;
	vertical-align: top;
}

//orange progress bar
.html5-progress-bar progress .orange {
	background-color: orange;
}
progress.orange[value] {color: orange} //IE10
progress.orange::-webkit-progress-bar-value {background-color: orange}
progress.orange::-webkit-progress-value {background-color: orange}
progress.orange::-moz-progress-bar {background-color: orange}

//red progress bar
.html5-progress-bar progress .red {
	background-color: red;
}
progress.red[value] {color:red} //IE10
progress.red::-webkit-progress-bar-value {background-color:red}
progress.red::-webkit-progress-value {background-color:red}
progress.red::-moz-progress-bar {background-color:red}

.ques-ans {
	width: 100%;
    height: 100%;

    h2 {
		display: block;
		font-size: 22px;
		margin-top: 0;
		padding-top: 25px;
	}
}

.start-button {
	display: block;
	width: 53%;
	margin: 44% auto;
    font-size: 54px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-weight: 900;
    letter-spacing: 3px;
}

.fade-in {
	animation: fadeIn ease-in-out 1s;
	-webkit-animation: fadeIn ease-in-out 1s;
	-moz-animation: fadeIn ease-in-out 1s;
	-o-animation: fadeIn ease-in-out 1s;
	-ms-animation: fadeIn ease-in-out 1s;
}

@keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

.number {
	width: 100%;
    display: block;
    text-align: center;
    margin-top: 38%;
    color: white;
    font-family: $thirdFont;
    font-size: 100px;
    font-weight: 900;
    letter-spacing: 3px;
}

.word {
	margin-top: 45%;
	font-size: 60px;
}

.answer-title {
	display: none;
	margin-top: 36%;
	color: white;
    font-weight: 100;
    font-size: 22px;
    text-shadow: 3px 3px 3px grey;
}
	

.answer {
    display: none;
    width: 80%;
    height: 72px;
    padding: 15px;
    margin: 20px auto 0;
    font-size: 32px;
    text-align: center;
    font-family: $thirdFont;
    border: 2px solid #35685E;
    border-radius: 25px;
}

.score {
	display: none;
	width: 100%;
    margin-bottom: 35px;

    h2 {
		display: block;
		font-size: 22px;
		margin: 0;
		padding-top: 25px;
	}
}

.percentage {
	display: block;
    text-align: center;     	
}

.real_score {
    padding-right: 5px;
	font-family: $thirdFont;
	font-weight: 900;
    font-size: 100px;
    color: white;
    letter-spacing: 0px;
}

.percent_sign {
	font-family: $thirdFont;
	font-weight: 900;
	font-size: 28px;
    color: white; 
}

.scale {
	font-size: 18px;
    color: white;
    text-align: center;
    font-family: Arial;
    letter-spacing: 5px;

}

.right-answer {
	font-family: $thirdFont;
    font-weight: 900;
    float: right;
    font-size: 6vw;
    line-height: 6vw;
    vertical-align: middle;
    letter-spacing: 2px;
}


.answer-box {
    display: block;
    width: 85%;
    border-bottom: 1px solid #bdbdbd;
    text-align: left;
    margin: 0 auto;
    padding: 16px;
    background: rgba(255,255,255, 0.8);

    & > i {
    	font-size: 6vw;
    	vertical-align: middle;
    }

    &.correct {
    	border-left: 5px solid $correctColor;

    	.right-answer, & > i {
		    color: $correctColor;
		}
    }

    &.wrong{
    	border-left: 5px solid $wrongColor;

    	.right-answer{
		    color: $wrongColor;
		}

		& > i {
			color: $wrongColor;
			padding-right: 7.5px;
		}
    }
}

.question-number {
	font-family: $thirdFont;
    font-size: 4vw;
    padding-left: 10px;
    vertical-align: middle;
    letter-spacing: 1px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

.congrats {
	display: none;
	position: absolute;
    top: 30px;
    left: 0px;
    right: 0;
    width: 100%;
    height: 170px;
    text-align: center;
    margin: 0 auto;
	//background: rgba(255,255,255,0.7);


	h1 {
	    position: absolute;
	    top: 0;
	    z-index: 2;
	    width: 100%;
	    line-height: 170px;
		transform-origin: 50% 50%;
	    font-size: 36px;
	    font-family: 'Wendy One', sans-serif;
	    text-align: center;
	   	color: white;
	}	
}

.blob {
	height: 50px;
	width: 50px;
	color: #ffcc00;
	position: absolute;
	top: 45%;
	left: 45%;
	z-index: 1;
	font-size: 30px;
	display: none;

	&:nth-child(2n){
		color: lightblue;
	};
	&:nth-child(3n){
		color: red;
	};
	&:nth-child(4n){
		color: #9AFF50;
	};
	&:nth-child(5n){
		color: orange;
	};
	&:nth-child(6n){
		color: #FFD5FF;
	};

}

.visi {
	visibility: visible !important;
	opacity: 1;
	transition: opacity 2s linear;
}

//Ipad portrait
@media only screen and (min-width: 768px) and (max-height: 1024px){
	.progressbar {
		width: 90% !important;
	}

	.progress-value {
		width: 10% !important;
	}

	.number {
	    margin-top: 39%;
	}

	.answer-title {
		margin-top: 39%;
	}

	.playAgain {
		width: 80%;
		height: 55px;
		font-size: 26px;
	}

	.score {
		h2 {
			padding-top: 50px;
		}
	}

	.real_score {
		margin: 20px 0 10px;
	}

	.answer-box {
		&.wrong > i {
			font-size: 3.5vw;
		   	padding-right: 19.5px;
		}

		&.correct > i {
    		font-size: 3.5vw;
    		padding-right: 10px;
    	}
    }

    .question-number {
    	font-size: 2.5vw;
    }

    .right-answer {
    	font-size: 3.5vw;
    	line-height: 3.5vw;
    }
}

//Ipad landscape
@media only screen and (min-width: 1024px) and (max-height: 768px){
	.loading-logo {
		margin: 27% auto 20px !important;
	}

	.progressbar {
		width: 90% !important;
	}

	.progress-value {
		width: 10% !important;
	}

	.start-button {
		margin: 22% auto !important;
	}

	.number {
	    margin-top: 20% !important;
	}

	.answer-title {
		margin-top: 20% !important;
	}

	.playAgain {
		width: 80% !important;
		height: 55px !important;
		font-size: 26px !important;
	}

	.score {
		h2 {
			padding-top: 30px !important;
		}
	}

	.real_score {
		margin: 20px 0 10px !important;
	}

	.answer-box {
		&.wrong > i {
			font-size: 3vw !important;
		    padding-right: 19.5px !important;
		}

		&.correct > i {
	    	font-size: 3vw !important;
	    	padding-right: 10px !important;
	    }
    }

    .question-number {
    	font-size: 2vw !important;
    }

    .right-answer {
    	font-size: 3vw !important;
    	line-height: 3vw !important;
    }
}

//Ipad-pro portrait
@media only screen and (min-width: 1024px) and (max-height: 1366px){
	.progressbar {
		width: 90% !important;
	}

	.progress-value {
		width: 10% !important;
	}

	.number {
	    margin-top: 45%;
	}

	.answer-title {
		margin-top: 45%;
	}

	.playAgain {
		width: 80%;
		height: 55px;
		font-size: 26px;
	}

	.score {
		h2 {
			padding-top: 50px;
		}
	}

	.real_score {
		margin: 20px 0 10px;
	}

	.answer-box {
		&.wrong > i {
			font-size: 3vw;
		    padding-right: 21.5px;
		}

		&.correct > i {
	    	font-size: 3vw;
	    	padding-right: 10px;
    	}
    }

    .question-number {
    	font-size: 2vw;
    }

    .right-answer {
    	font-size: 3vw;
    	line-height: 3vw;
    }
}

//Ipad-pro landscape
@media only screen and (min-width: 1366px) and (max-height: 1024px){
	.loading-logo {
		margin: 27% auto 20px !important;
	}

	.progressbar {
		width: 93% !important;
	}

	.progress-value {
		width: 7% !important;
	}

	.start-button {
		margin: 24% auto !important;
	}

	.number {
		margin-top: 24% !important;
	}

	.answer-title {
		margin-top: 24% !important;
	}

	.playAgain {
		width: 80% !important;
		height: 55px !important;
		font-size: 26px !important;
	}

	.score {
		h2 {
			padding-top: 30px !important;
		}
	}

	.real_score {
		margin: 20px 0 10px !important;
	}

	.answer-box {
		&.wrong > i {
			font-size: 3vw !important;
		    padding-right: 21.5px !important;
		}

		&.correct > i {
	    	font-size: 3vw !important;
	    	padding-right: 10px !important;
	    }
    }

    .question-number {
    	font-size: 2vw !important;
    }

    .right-answer {
    	font-size: 3vw !important;
    	line-height: 3vw !important;
    }
}


