* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Goudy Bookletter 1911";
  letter-spacing: 3px; }

body {
  background-color: #8DC63F; }

.container {
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  left: 0;
  background-color: #8DC63F; }

.header {
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 100;
  background-color: white;
  border: 2px solid #FFCB05; }
  .header img {
    width: 60px;
    margin: 15px auto;
    display: block; }
  .header #toggleBack {
    display: block;
    position: absolute;
    left: 25px;
    top: 38px;
    font-size: 25px;
    cursor: pointer; }
  .header #toggleVolume {
    display: block;
    visibility: hidden;
    position: absolute;
    right: 25px;
    top: 38px;
    font-size: 25px;
    cursor: pointer; }

.content, .home {
  position: relative;
  text-align: center;
  overflow-x: hidden;
  border-top: none; }
  .content div.circle, .home div.circle {
    position: fixed;
    z-index: -10;
    border-radius: 50%; }
    .content div.circle.a, .home div.circle.a {
      width: 105px;
      height: 105px;
      top: 60px;
      left: -28px; }
    .content div.circle.b, .home div.circle.b {
      top: 345px;
      width: 148px;
      height: 148px;
      left: -82px; }
    .content div.circle.c, .home div.circle.c {
      width: 55px;
      height: 55px;
      top: 333px;
      right: 42px; }
    .content div.circle.d, .home div.circle.d {
      width: 45px;
      height: 45px;
      bottom: 120px;
      right: 89px; }
    .content div.circle.e, .home div.circle.e {
      width: 50px;
      height: 50px;
      top: 225px;
      left: 38px; }
    .content div.circle.f, .home div.circle.f {
      width: 100px;
      height: 100px;
      top: 113px;
      right: -1px; }
    .content div.circle.g, .home div.circle.g {
      width: 100px;
      height: 100px;
      bottom: 109px;
      left: 51px; }
    .content div.circle.h, .home div.circle.h {
      width: 105px;
      height: 105px;
      bottom: 185px;
      right: -29px; }
    .content div.circle.i, .home div.circle.i {
      width: 50px;
      height: 50px;
      bottom: -18px;
      left: 3px; }
    .content div.circle.j, .home div.circle.j {
      width: 110px;
      height: 110px;
      bottom: -51px;
      right: 19px; }
    .content div.circle.green, .home div.circle.green {
      background-color: #00B698; }
    .content div.circle.yellow, .home div.circle.yellow {
      background-color: #FFCB05; }
    .content div.circle.brown, .home div.circle.brown {
      background-color: #840409; }
    .content div.circle.orange, .home div.circle.orange {
      background-color: #F68B1F; }
  .content h2, .home h2 {
    color: white;
    font-weight: 100;
    font-size: 32px;
    margin-top: 25px;
    text-shadow: 3px 3px 3px grey;
    margin-bottom: 20px; }

.grid_container {
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 30px; }
  .grid_container > div {
    display: flex;
    justify-content: center; }

.startHome, .startGame, .playAgain {
  display: block;
  width: 50%;
  height: 45px;
  margin: 35px auto;
  border-radius: 25px;
  background: #1E1E85;
  border: none;
  font-size: 20px;
  text-align: center;
  color: white;
  cursor: pointer; }

.playAgain {
  width: 85%; }

.blocker {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  z-index: 1000; }
  .blocker .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .blocker .rotate {
    width: 45px;
    height: 45px;
    vertical-align: middle;
    animation: rotation 8s infinite linear; }
  .blocker .rotate_reminder {
    font-size: 16px;
    padding-left: 5px; }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
@media only screen and (min-width: 567px) and (max-height: 414px) {
  .container {
    height: 100vh;
    overflow: hidden; }

  .blocker {
    display: block; }

  .content {
    display: none; } }
* {
  padding: 0;
  margin: 0;
  font-family: "Goudy Bookletter 1911";
  outline: none; }

.loading {
  position: fixed;
  background-color: #EEF3F5;
  width: 100%;
  height: 100vh;
  text-align: center;
  z-index: 1000; }

.loading-logo {
  display: block;
  width: 150px;
  margin: 50% auto 20px;
  vertical-align: middle; }

.loading-title {
  padding: 10px 0 3px; }

.loading-title, .dots {
  color: #0D7BDC;
  display: block;
  font-size: 20px; }

.dots {
  letter-spacing: 4px; }

.dot-animate {
  animation: bounce 0.3s;
  animation-direction: alternate;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
  display: inline-block; }

@keyframes bounce {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-10px); } }
@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
* {
  padding: 0;
  margin: 0;
  outline: none; }

.html5-progress-bar {
  position: sticky;
  z-index: 100;
  top: 93px;
  width: 100%;
  margin: 0;
  padding: 10px 15px 5px;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2); }

.html5-progress-bar progress {
  background-color: #f3f3f3;
  border: 0;
  width: 80%;
  height: 15px;
  border-radius: 9px;
  vertical-align: top; }

.html5-progress-bar progress::-webkit-progress-bar {
  background-color: #f3f3f3;
  border-radius: 9px; }

.html5-progress-bar progress::-webkit-progress-value {
  border-radius: 9px; }

.html5-progress-bar .progress-value {
  width: 20%;
  text-align: right;
  line-height: 17px;
  font-size: 0.8em;
  font-family: arial;
  color: #555;
  float: right;
  padding-right: 3px;
  vertical-align: top; }

.html5-progress-bar progress .orange {
  background-color: orange; }

progress.orange[value] {
  color: orange; }

progress.orange::-webkit-progress-bar-value {
  background-color: orange; }

progress.orange::-webkit-progress-value {
  background-color: orange; }

progress.orange::-moz-progress-bar {
  background-color: orange; }

.html5-progress-bar progress .red {
  background-color: red; }

progress.red[value] {
  color: red; }

progress.red::-webkit-progress-bar-value {
  background-color: red; }

progress.red::-webkit-progress-value {
  background-color: red; }

progress.red::-moz-progress-bar {
  background-color: red; }

.ques-ans {
  width: 100%;
  height: 100%; }
  .ques-ans h2 {
    display: block;
    font-size: 22px;
    margin-top: 0;
    padding-top: 25px; }

.start-button {
  display: block;
  width: 53%;
  margin: 44% auto;
  font-size: 54px;
  text-align: center;
  font-weight: bold;
  color: white;
  font-weight: 900;
  letter-spacing: 3px; }

.fade-in {
  animation: fadeIn ease-in-out 1s;
  -webkit-animation: fadeIn ease-in-out 1s;
  -moz-animation: fadeIn ease-in-out 1s;
  -o-animation: fadeIn ease-in-out 1s;
  -ms-animation: fadeIn ease-in-out 1s; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.number {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 38%;
  color: white;
  font-family: Arial;
  font-size: 100px;
  font-weight: 900;
  letter-spacing: 3px; }

.word {
  margin-top: 45%;
  font-size: 60px; }

.answer-title {
  display: none;
  margin-top: 36%;
  color: white;
  font-weight: 100;
  font-size: 22px;
  text-shadow: 3px 3px 3px grey; }

.answer {
  display: none;
  width: 80%;
  height: 72px;
  padding: 15px;
  margin: 20px auto 0;
  font-size: 32px;
  text-align: center;
  font-family: Arial;
  border: 2px solid #35685E;
  border-radius: 25px; }

.score {
  display: none;
  width: 100%;
  margin-bottom: 35px; }
  .score h2 {
    display: block;
    font-size: 22px;
    margin: 0;
    padding-top: 25px; }

.percentage {
  display: block;
  text-align: center; }

.real_score {
  padding-right: 5px;
  font-family: Arial;
  font-weight: 900;
  font-size: 100px;
  color: white;
  letter-spacing: 0px; }

.percent_sign {
  font-family: Arial;
  font-weight: 900;
  font-size: 28px;
  color: white; }

.scale {
  font-size: 18px;
  color: white;
  text-align: center;
  font-family: Arial;
  letter-spacing: 5px; }

.right-answer {
  font-family: Arial;
  font-weight: 900;
  float: right;
  font-size: 6vw;
  line-height: 6vw;
  vertical-align: middle;
  letter-spacing: 2px; }

.answer-box {
  display: block;
  width: 85%;
  border-bottom: 1px solid #bdbdbd;
  text-align: left;
  margin: 0 auto;
  padding: 16px;
  background: rgba(255, 255, 255, 0.8); }
  .answer-box > i {
    font-size: 6vw;
    vertical-align: middle; }
  .answer-box.correct {
    border-left: 5px solid #2ED573; }
    .answer-box.correct .right-answer, .answer-box.correct > i {
      color: #2ED573; }
  .answer-box.wrong {
    border-left: 5px solid #FF3838; }
    .answer-box.wrong .right-answer {
      color: #FF3838; }
    .answer-box.wrong > i {
      color: #FF3838;
      padding-right: 7.5px; }

.question-number {
  font-family: Arial;
  font-size: 4vw;
  padding-left: 10px;
  vertical-align: middle;
  letter-spacing: 1px; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

.congrats {
  display: none;
  position: absolute;
  top: 30px;
  left: 0px;
  right: 0;
  width: 100%;
  height: 170px;
  text-align: center;
  margin: 0 auto; }
  .congrats h1 {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    line-height: 170px;
    transform-origin: 50% 50%;
    font-size: 36px;
    font-family: 'Wendy One', sans-serif;
    text-align: center;
    color: white; }

.blob {
  height: 50px;
  width: 50px;
  color: #ffcc00;
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 1;
  font-size: 30px;
  display: none; }
  .blob:nth-child(2n) {
    color: lightblue; }
  .blob:nth-child(3n) {
    color: red; }
  .blob:nth-child(4n) {
    color: #9AFF50; }
  .blob:nth-child(5n) {
    color: orange; }
  .blob:nth-child(6n) {
    color: #FFD5FF; }

.visi {
  visibility: visible !important;
  opacity: 1;
  transition: opacity 2s linear; }

@media only screen and (min-width: 768px) and (max-height: 1024px) {
  .progressbar {
    width: 90% !important; }

  .progress-value {
    width: 10% !important; }

  .number {
    margin-top: 39%; }

  .answer-title {
    margin-top: 39%; }

  .playAgain {
    width: 80%;
    height: 55px;
    font-size: 26px; }

  .score h2 {
    padding-top: 50px; }

  .real_score {
    margin: 20px 0 10px; }

  .answer-box.wrong > i {
    font-size: 3.5vw;
    padding-right: 19.5px; }
  .answer-box.correct > i {
    font-size: 3.5vw;
    padding-right: 10px; }

  .question-number {
    font-size: 2.5vw; }

  .right-answer {
    font-size: 3.5vw;
    line-height: 3.5vw; } }
@media only screen and (min-width: 1024px) and (max-height: 768px) {
  .loading-logo {
    margin: 27% auto 20px !important; }

  .progressbar {
    width: 90% !important; }

  .progress-value {
    width: 10% !important; }

  .start-button {
    margin: 22% auto !important; }

  .number {
    margin-top: 20% !important; }

  .answer-title {
    margin-top: 20% !important; }

  .playAgain {
    width: 80% !important;
    height: 55px !important;
    font-size: 26px !important; }

  .score h2 {
    padding-top: 30px !important; }

  .real_score {
    margin: 20px 0 10px !important; }

  .answer-box.wrong > i {
    font-size: 3vw !important;
    padding-right: 19.5px !important; }
  .answer-box.correct > i {
    font-size: 3vw !important;
    padding-right: 10px !important; }

  .question-number {
    font-size: 2vw !important; }

  .right-answer {
    font-size: 3vw !important;
    line-height: 3vw !important; } }
@media only screen and (min-width: 1024px) and (max-height: 1366px) {
  .progressbar {
    width: 90% !important; }

  .progress-value {
    width: 10% !important; }

  .number {
    margin-top: 45%; }

  .answer-title {
    margin-top: 45%; }

  .playAgain {
    width: 80%;
    height: 55px;
    font-size: 26px; }

  .score h2 {
    padding-top: 50px; }

  .real_score {
    margin: 20px 0 10px; }

  .answer-box.wrong > i {
    font-size: 3vw;
    padding-right: 21.5px; }
  .answer-box.correct > i {
    font-size: 3vw;
    padding-right: 10px; }

  .question-number {
    font-size: 2vw; }

  .right-answer {
    font-size: 3vw;
    line-height: 3vw; } }
@media only screen and (min-width: 1366px) and (max-height: 1024px) {
  .loading-logo {
    margin: 27% auto 20px !important; }

  .progressbar {
    width: 93% !important; }

  .progress-value {
    width: 7% !important; }

  .start-button {
    margin: 24% auto !important; }

  .number {
    margin-top: 24% !important; }

  .answer-title {
    margin-top: 24% !important; }

  .playAgain {
    width: 80% !important;
    height: 55px !important;
    font-size: 26px !important; }

  .score h2 {
    padding-top: 30px !important; }

  .real_score {
    margin: 20px 0 10px !important; }

  .answer-box.wrong > i {
    font-size: 3vw !important;
    padding-right: 21.5px !important; }
  .answer-box.correct > i {
    font-size: 3vw !important;
    padding-right: 10px !important; }

  .question-number {
    font-size: 2vw !important; }

  .right-answer {
    font-size: 3vw !important;
    line-height: 3vw !important; } }

/*# sourceMappingURL=room.css.map */
