@mixin prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

@mixin transition($transition: 0.1s all) {
  @include prefix('transition', #{$transition});
}

@mixin transform($transform) {
  @include prefix('transform', #{$transform});
}

@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation:    $animation;
  -o-animation:      $animation;
  animation:         $animation;
}

@mixin box-sizing($box-sizing: border-box) {
  -webkit-box-sizing: #{$box-sizing};
  -moz-box-sizing: #{$box-sizing};
  box-sizing: #{$box-sizing};
}

@mixin box-shadow($x: 3px, $y: 3px, $blur: 3px, $color: #dbdbdb) {
  -webkit-box-shadow: $x $y $blur $color;
  -moz-box-shadow: $x $y $blur $color;
  box-shadow: $x $y $blur $color;
}

@mixin setBorder($color: transparent, $stroke: 1px, $style: solid){
	border: $stroke $color $style;
}

@mixin container(){
	@include box-sizing();
	width: 100%;
	position: absolute;
	display: block;
  opacity: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

@mixin button($width, $height, $sColor: $defaultStrokeColor, $bgColor: $defaultBgColor, $textColor: black, $radius: 0px){
	width: $width;
	height: $height;
	@include setBorder($sColor, 2px);
	background-color: $bgColor;
	border-radius: $radius;
	color: $sColor;

	&:hover{
		color: $textColor;
		background-color: $sColor;
	}
}

//$med: 1370px;
@mixin at-query ($constraint, $viewport1, $viewport2:null) {
  @if $constraint == min-width {
    @media only screen and (min-width: $viewport1) {
      @content;
    }
  } @else if $constraint == max-width {
    @media only screen and (max-width: $viewport1) {
      @content;
    }
  } @else if $constraint == $ipadProWidth {
    @media only screen and (max-width: $viewport1) {
      @content;
    }
  }@else {
    @media only screen and (min-width: $viewport1) and (max-width: $viewport2) {
      @content;
    }
  }
}